
{% extends "chain/base.html" %}

{% block title %}Data{% endblock %}

{% block body %}



        {% if mynodes %}
              <h3>Here Are Your data</h3> <br>

              {% for nodes in mynodes %}

                    {% if nodes.sensor_set.all %}
                        {% for  sensor in nodes.sensor_set.all %}

                              {% for  data1 in sensor.data_set.all %}
                                <ul class="list-group">
                                  <li class="list-group-item">
                                    {{data1.data}}
                                    &nbsp       <a href ="{% url 'chain:DeleteData'  data1.id %}"  class="btn btn-primary btn-sm" role="button"> Delete Data </a>

                                  </li>
                                </ul>

                              {% endfor %}



                        {% endfor %}

                    {%endif%}

              {% endfor %}

        {% else %}

            <h3>Sorry no nodes</h3>

        {% endif %}




{% endblock %}
