
{% extends "chain/base.html" %}

{% block title %}Data{% endblock %}

{% block body %}


        {% if mysensors %}

              <h3>Here is your Data Sir --  <br> </h3>
              {% for nodes in mysensors %}

                    {% if nodes.data_set.all %}
                        {% for  node in nodes.data_set.all %}
                          <ul class="list-group">
                            <li class="list-group-item">
                                  {{node.data}}
                                  <a href ="{% url 'chain:DeleteData'  node.id %}"  class="btn btn-primary btn-sm" role="button"> Delete Data </a>

                            </li>
                          </ul>

                        {% endfor %}

                    {%endif%}

              {% endfor %}

        {% else %}

            No data In this sensor

        {% endif %}




{% endblock %}
