
{% extends "chain/base.html" %}

{% block title %}Data{% endblock %}

{% block body %}

<div class="" id="Left_Side">

        {% if mynodes %}

              {% for nodes in mynodes %}

                    {% if nodes.sensor_set.all %}
                        {% for  sensor in nodes.sensor_set.all %}

                              {% for  data1 in sensor.data_set.all %}
                                <ul class="list-group">
                                  <li class="list-group-item">
                                    {{data1.data}}
                                    &nbsp       <a href ="{% url 'chain:DeleteData'  data1.id %}"  class="btn btn-primary btn-sm" role="button"> Delete Data </a>

                                  </li>
                                </ul>

                              {% endfor %}



                        {% endfor %}

                    {%endif%}

              {% endfor %}

        {% else %}

        <h3>
          You have not any node. <br> <br>
          <a href="{%url "chain:AddNode"%}">Click</a> Here to add a Node.
        </h3>


        {% endif %}


</div>

{% endblock %}

{% block body_right %}

<div class="" id="Right_Side">

  <h3> Here are soemething that can help you </h3>
    <p>
        We made a help page to help you throughout.
        We will gonna put some suggestion for you here.
    </p>
</div>




{% endblock body_right %}
