{% extends "chain/base.html" %}

{% block title  %} AddNode {% endblock  %}

{% block body  %}

<div class="container-fluid">

    <form class="form-horizontal", action="", method="post" ,enctype="multipart/form-data">

          {% include "chain/AddUser.html" %}
          {% csrf_token %}          
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                    <br>
                    <button type="submit" class="btn btn-success"> Add </button>

              </div>
          </div>
    </form>

</div>

{% endblock  %}
