
{% extends "chain/base.html" %}

{% block title %}Sensor{% endblock %}

{% block body %}

<div class="" id="Left_Side">

              {% for nodes in mynodes %}

                    {% if nodes.sensor_set.all %}
                      <h4>Here is your sensors in node {{nodes}} Sir <br> <br></h4>
                        {% for  node in nodes.sensor_set.all %}
                          <ul class="list-group">
                            <li class="list-group-item">
                              &nbsp       <a href ="{% url 'chain:data'  node.id %}"> {{node.name}}  </a>
                              &nbsp       <a href ="{% url 'chain:UpdateSensor'  node.id %}" class="btn btn-primary btn-sm" role="button"> Update Sensor </a>
                              &nbsp       <a href ="{% url 'chain:DeleteSensor'  node.id %}"  class="btn btn-primary btn-sm" role="button"> Delete Sensor </a>

                            </li>
                          </ul>


                        {% endfor %}

                    {% else %}

                      <h4>You had not added any sensor to node {{nodes}}</h4>

                    {%endif%}

              {% endfor %}
</div>

{% endblock %}

  <!-- Node Details -->

{% block body_right %}

{% for node in mynodes %}

<div class="albums-container container-fluid">

    <div class="row"> <br> <br>

                <div class="col-sm-6 col-lg-5">
                    <div class="thumbnail">
                          <a href="{% url 'chain:UpdateNode'  node.id %}">
                                <img src="{{node.image}}" height="200" width="200"/> <br>
                               </a>

                        <div class="caption">
                            <h2>{{ node.name }}  </h2>
                            <p>
                              {{node.description}}

                            </p>
                            <!-- View Details -->
                            <a href="{% url 'chain:UpdateNode'  node.id %}" class="btn btn-primary btn-sm" role="button">Update</a>

                            <!-- Delete Album -->
                            <form action="{% url 'chain:DeleteNode' node.id %}" method="post" style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ contacts.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->

                        </div>
                    </div>
                </div>

    </div>


</div>



{% endfor %}

{% endblock  %}
